@use '../../../styles/style.scss';

.h_nav {
  background-color: style.$nav-background;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .h_nav_left {
    display: flex;
    font-size: 22px;
    color: white;
    font-weight: 600;
    gap: 52px;
    margin-left: 27px;

    .status_box {
      display: flex;
      align-items: center;
      gap: 14px;

      .status_color {
        width: 11px;
        height: 11px;
        background-color: #85e13a;
        border-radius: 11px;
      }
    }
  }
  .h_nav_right {
    font-weight: 300;
    color: white;
    font-size: 17px;
    display: flex;
    font-size: 20px;
    gap: 23px;
    align-items: center;

    .window_status {
      display: flex;

      .window_wrap {
        border-left: 1px solid #393939;
        width: 68px;
        display: flex;
        justify-content: center;
        height: 68px;
      }
    }
  }
}
