@use '/styles/style.scss';

.modal_wrap {
  z-index: 555;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 546px;
  background-color: white;
  box-shadow:
    0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 0 0 12px 12px;

  .header_wrap {
    height: 74px;
    background-color: style.$bunny-orange;
    display: flex;
    justify-content: space-between;
    padding: 0 27px 0 34px;
    border-radius: 12px 12px 0 0;

    .header_left {
      display: flex;
      font-size: 26px;
      color: white;
      font-weight: 600;
      align-items: center;
      gap: 14px;
    }
  }

  .contents_wrap {
    padding: 32px 34px 36px 34px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 31px;

      .text_section {
        display: flex;
        flex-direction: column;
        gap: 13px;
        font-size: 27px;
        font-weight: 600;
        color: style.$gray-700;
        line-height: 32px;

        .detail {
          font-weight: 400;
          font-size: 22px;
          letter-spacing: -2%;
          color: style.$gray-500;
        }
      }

      .order_buttons {
        display: flex;
        flex-direction: row;
        height: 75px;
        font-size: 24px;
        gap: 18px;

        .order_decline {
          background-color: style.$gray-100;
          border: 1px solid style.$gray-300;
          color: style.$gray-500;
          font-weight: 700;
          width: 110px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
        }

        .order_accept {
          background-color: style.$bunny-orange;
          border: 1px solid style.$gray-300;
          color: white;
          font-weight: 700;
          width: 110px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
        }
      }
    }
  }
}

.setting_count {
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  gap: 23px;
  padding: 14px 21px;
  background-color: style.$gray-25;
  border: 1px solid style.$gray-300;
  border-radius: 12px;
  font-size: 28px;
  font-weight: 600;
  color: style.$gray-600;
  line-height: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}
