@use '../../../../../../styles/style.scss';

.nav_wrap {
  background-color: style.$nav-background;
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 58px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  button {
    background-color: style.$gray-true-200;
    color: style.$nav-background;
    font-size: 13px;
    padding: 0 12px;
    height: 33px;
    border-radius: 4px;
  }

  img {
    width: 164px;
    height: auto;
  }
}
