@use '../../../styles/style.scss';

.order_list {
  position: absolute;
  width: 450px;
  right: 0;
  height: calc(100vh - 68px);
  background-color: white;
  z-index: 3;

  .list_title {
    padding: 10px 22px;
    color: style.$gray-700;
    background-color: style.$gray-100;
    border-top: 1px solid style.$gray-200;
    border-bottom: 1px solid style.$gray-200;
    font-size: 17px;
    box-sizing: border-box;
    line-height: 20px;
    font-weight: 500;
  }
  .new_order_wrap {
    padding: 14px 23px;
    border-top: 4px solid style.$bunny-orange;
    background-color: style.$bunny-orange-light;

    .order_title {
      display: flex;
      align-items: center;
      gap: 4px;

      .order_number {
        font-size: 20px;
        color: style.$bunny-orange;
        font-weight: 700;
        margin-right: 12px;
      }

      .order_paid {
        display: flex;
        font-size: 16px;
        color: style.$gray-500;
        font-weight: 400;
      }
    }
    .order_contents {
      margin-top: 15px;
      .order_item {
        font-size: 18px;
        font-weight: 500;
        color: style.$gray-500;
      }
      .order_price {
        display: flex;
        font-weight: 700;
        font-size: 20px;
        color: style.$gray-700;
      }
    }
  }
  .order_wrap {
    padding: 14px 23px;
    background-color: white;

    .order_title {
      display: flex;
      align-items: center;
      gap: 4px;

      .order_number {
        font-size: 20px;
        color: style.$bunny-orange;
        font-weight: 700;
        margin-right: 12px;
      }

      .order_paid {
        display: flex;
        font-size: 16px;
        color: style.$gray-500;
        font-weight: 400;
      }
    }
    .order_contents {
      margin-top: 15px;
      .order_item {
        font-size: 18px;
        font-weight: 500;
        color: style.$gray-500;
      }
      .order_price {
        display: flex;
        font-weight: 700;
        font-size: 20px;
        color: style.$gray-700;
      }
    }
  }
}
