@import '@/styles/style.scss';

.nav_wrap {
  min-width: 260px;
  background-color: $gray-100;
  height: calc(100vh - 68px);
  padding-top: 35px;
  padding-left: 33px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: $gray-700;
  margin-bottom: 35px;
}

.category_list {
  color: $gray-500;

  .category {
    margin-bottom: 28px;
    font-weight: 500;
  }
}

.active {
  color: $bunny-orange;
}
