$nav-background: #484848;
$nav-line: #393939;

$background-color: #e4e4e4;

$gray-25: #fcfcfd;
$gray-50: #f3f4f6;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d2d6db;
$gray-400: #98a2b3;
$gray-500: #6c737f;
$gray-600: #4d5761;
$gray-700: #384250;

$gray-true-200: #e5e5e5;
$gray-true-400: #a3a3a3;
$gray-true-500: #737373;

$green-light-400: #85e13a;
$green-text: #299c11;

$bunny-orange: #ff6200;
$bunny-orange-light: #fffdfa;

$orange-light: #fef6ee;
$orange-regular: #f9dbaf;
$orange-bold: #b93815;

$purple-light: #f4f3ff;
$purple-regular: #d9d6fe;
$purple-bold: #5925dc;

$gray-blue-light: #f8f9fc;
$gray-blue-regular: #d5d9eb;
$gray-blue-bold: #363f72;
