@use 'style.scss';

@mixin input_type {
  margin-top: 8px;
  display: block;
  border-radius: 0.375rem;
  border: 1px solid style.$gray-300;
  padding: 0.75rem 1rem;
  margin-bottom: 44px;
}

@mixin input_type_hover {
  outline: none;
  background-color: #ffffff;
  border-color: #fed7aa;
  box-shadow: 0 0 0 1px #fdba74;
}

.modal_wrap {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_box {
    background: white;
    border-radius: 20px;
    box-shadow: inset;
    padding: 54px 70px;
    width: 760px;
    position: relative;
    box-sizing: border-box;

    .modal_close {
      position: absolute;
      top: 26px;
      right: 34px;

      img {
        width: 36px;
        height: 36px;
      }
    }

    .modal_title {
      font-size: 20px;
      color: style.$gray-700;
      font-weight: 500;
      margin-bottom: 45px;
    }

    .time_wrap {
      color: style.$gray-500;
      font-weight: 500;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      margin-bottom: 26px;
    }

    .bottom_buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 13px;

      .cancel_button {
        padding: 18px 17px;
        color: style.$gray-500;
        background-color: style.$gray-100;
        border-radius: 8px;
      }

      .submit_button {
        padding: 18px 30px;
        color: white;
        background-color: style.$bunny-orange;
        border-radius: 8px;
      }
    }
  }
}

.long_input_text {
  @include input_type;
  width: 100%;

  &::placeholder {
    color: style.$gray-400;
  }

  &:focus {
    @include input_type_hover;
  }
}

.peer {
  position: relative;
  width: 51px; // w-11
  height: 30px; // h-6
  background-color: style.$gray-200;
  border-color: style.$gray-200;
  border-radius: 9999px; // rounded-full
  transition: background-color 0.2s;
  color: style.$bunny-orange;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.3); // ring-4 and ring-blue-300
  }

  &:checked {
    background-color: style.$bunny-orange; // bg-blue-600
    background-image: none;

    &:after {
      transform: translateX(87%); // after:translate-x-full
      border-color: #ffffff; // after:border-white
      outline: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px; // start-[2px]
    width: 24px; // after:w-5
    height: 24px; // after:h-5
    background-color: #ffffff; // after:bg-white
    border: 1px solid #d1d5db; // after:border-gray-300
    border-radius: 9999px; // after:rounded-full
    transition: all 0.2s; // after:transition-all
  }
}
