@use 'style.scss';

.modal_wrap {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_box {
    background: white;
    border-radius: 20px;
    box-shadow: inset;
    padding: 54px 70px;
    width: 760px;
    position: relative;
    box-sizing: border-box;

    .modal_close {
      position: absolute;
      top: 26px;
      right: 34px;

      img {
        width: 36px;
        height: 36px;
      }
    }

    .modal_title {
      font-size: 20px;
      color: style.$gray-700;
      font-weight: 500;
      margin-bottom: 45px;
    }

    .time_wrap {
      color: style.$gray-500;
      font-weight: 500;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      margin-bottom: 26px;
    }

    .bottom_buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 13px;

      .cancel_button {
        padding: 18px 17px;
        color: style.$gray-500;
        background-color: style.$gray-100;
        border-radius: 8px;
      }

      .submit_button {
        padding: 18px 30px;
        color: white;
        background-color: style.$bunny-orange;
        border-radius: 8px;
      }
    }
  }
}
