@use 'variables';

@mixin input_type {
  margin-top: 8px;
  display: block;
  border-radius: 0.375rem;
  border: 1px solid variables.$gray-300;
  padding: 0.75rem 1rem;
  margin-bottom: 44px;
}

@mixin input_type_hover {
  outline: none;
  background-color: #ffffff;
  border-color: #fed7aa;
  box-shadow: 0 0 0 1px #fdba74;
}

@mixin formtitle {
  font-size: 17px;
  font-weight: 500;
  color: variables.$gray-700;
}

.contents_wrap {
  padding: 28px 60px;
  width: 100%;
  height: calc(100vh - 68px);
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f4f6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
  }

  .page_title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    color: variables.$gray-700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }

  .submit_button {
    width: 60px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: variables.$bunny-orange;
    color: white;
    border-radius: 8px;
  }

  .formtitle {
    font-size: 17px;
    font-weight: 500;
    color: variables.$gray-700;
    position: relative;
  }

  .disabled {
    background-color: variables.$gray-100;
  }

  .margin_bottom {
    margin-bottom: 44px;
  }

  .button_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: variables.$gray-500;
    font-weight: 500;
    margin-top: 8px;

    .modal_open_button {
      width: 86px;
      height: 38px;
      font-size: 15px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: variables.$gray-true-500;
      color: white;
      border-radius: 8px;
    }
  }

  .map {
    margin-top: 8px;
    margin-bottom: 44px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .short_number_text {
    position: absolute;
    top: 47px;
    left: 250px;
    font-size: 15px;
    color: variables.$gray-500;
    font-weight: 400;
  }

  .long_number_text {
    position: absolute;
    top: 47px;
    right: 22px;
    font-size: 15px;
    color: variables.$gray-500;
    font-weight: 400;
  }

  .short_input_text {
    @include input_type;
    width: 285px;

    &::placeholder {
      color: variables.$gray-400;
    }

    &:focus {
      @include input_type_hover;
    }

    &:invalid {
      border-color: black;
    }
  }

  .long_input_text {
    @include input_type;
    width: 100%;

    &::placeholder {
      color: variables.$gray-400;
    }

    &:focus {
      @include input_type_hover;
    }
  }

  //short toggle form
  .short_toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 285px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 44px;
  }

  //long toggle form
  .long_toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 44px;
  }

  //selector
  .short_selector {
    @include input_type;
    width: 285px;
    line-height: 20px;
  }

  .long_selector {
    @include input_type;
    width: 100%;
    line-height: 20px;
  }

  .add_image_wrap {
    margin-top: 24px;
    display: flex;
    gap: 21px;
    margin-bottom: 44px;

    .add_image_block {
      display: flex;
      flex-direction: column;
      gap: 11px;
      font-size: 15px;
      color: variables.$gray-500;

      .add_image {
        width: 102px;
        height: 102px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        background-color: variables.$gray-50;
        font-size: 13px;
        font-weight: 500;
        border-radius: 12px;
        box-sizing: border-box;

        img {
          width: 102px;
          height: 102px;
        }
      }
    }
  }

  .text_area {
    margin-top: 8px;
    margin-bottom: 44px;
    width: 100%;
    height: auto;
    padding: 20px 21px;
    color: variables.$gray-700;
    border-radius: 8px;
    border: 1px solid variables.$gray-300;
    scrollbar-width: none;
    overflow-y: auto;
    resize: none;

    &::placeholder {
      color: variables.$gray-400;
    }

    &:focus {
      @include input_type_hover;
    }
  }
}

// toggle
.inline_flex {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .peer {
    position: relative;
    width: 51px; // w-11
    height: 30px; // h-6
    background-color: variables.$gray-200;
    border-color: variables.$gray-200;
    border-radius: 9999px; // rounded-full
    transition: background-color 0.2s;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.3); // ring-4 and ring-blue-300
    }

    &:checked {
      background-color: variables.$bunny-orange; // bg-blue-600
      background-image: none;

      &:after {
        transform: translateX(87%); // after:translate-x-full
        border-color: #ffffff; // after:border-white
        outline: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px; // start-[2px]
      width: 24px; // after:w-5
      height: 24px; // after:h-5
      background-color: #ffffff; // after:bg-white
      border: 1px solid #d1d5db; // after:border-gray-300
      border-radius: 9999px; // after:rounded-full
      transition: all 0.2s; // after:transition-all
    }
  }
}

//count
.count_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.count_form_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting_count {
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  padding: 14px 14px;
  background-color: variables.$gray-25;
  border: 1px solid variables.$gray-300;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  color: variables.$gray-600;
  line-height: 20px;
  box-sizing: border-box;
}

.reopen {
  @include formtitle;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .reopen_button {
    width: 86px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$bunny-orange;
    color: white;
    border-radius: 8px;
  }
}

.long_input_discount {
  display: block;
  border-radius: 0.375rem;
  border: 1px solid variables.$gray-300;
  padding: 0.75rem 1rem;

  width: 100%;

  &::placeholder {
    color: variables.$gray-400;
  }

  &:focus {
    @include input_type_hover;
  }
}

.discount_wrap {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  margin-bottom: 44px;

  .discount_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 56px;
    background-color: variables.$gray-true-500;
    color: white;
    border-radius: 8px;
  }

  .disabled {
    background-color: variables.$gray-100;
    color: variables.$gray-500;
  }
  .button_active {
    background-color: variables.$gray-true-500;
    color: white;
  }
}

.edit_menu_button_wrap {
  display: flex;
  gap: 20px;
}

.delete_single_menu_button {
  width: 100%;
  height: 46px;
  font-size: 15px;
  font-weight: 600;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: variables.$gray-100;
  color: variables.$gray-500;
  border-radius: 8px;
  border: 1px solid variables.$gray-200;
}
